html
  body
    // toc
    ul
      li
        a(href='#introduction') Introduction
        ul
          li
            a(href='#why-do-i-have-to-study-maths') Why do I have to study maths?
          li
            a(href='#overcoming-maths-anxiety') Overcoming maths anxiety.
      li
        a(href='#foundations') Foundations
      li
        a(href='#workshop-1') Workshop 1
      li
        a(href='#workshop-2') Workshop 2
      li
        a(href='#workshop-3') Workshop 3
      li
        a(href='#workshop-4a') Workshop 4a
      li
        a(href='#workshop-4b') Workshop 4b
      li
        a(href='#workshop-5') Workshop 5
      li
        a(href='#revision') Revision
    // tocstop
    h1#introduction Introduction
    h2#why-do-i-have-to-study-maths- Why do I have to study maths?
    h2#overcoming-maths-anxiety- Overcoming maths anxiety.
    h1#foundations Foundations
    h1#workshop-1 Workshop 1
    h1#workshop-2 Workshop 2
    h1#workshop-3 Workshop 3
    h1#workshop-4a Workshop 4a
    h1#workshop-4b Workshop 4b
    h1#workshop-5 Workshop 5
    h1#revision Revision
